body {
    margin: 0;
    padding: 0;
}

.list{
    display: inline-block;
    flex-direction: column;
    background-color:#200720;
    padding: 10px;
    height: 100vh;
     
}
 .fst{
    margin-bottom: 14px;
  
}
 .fst span{
     display:block;
     color:#544154;
     font-size: 10px;
     text-align: center
 }

 .img4{
     width: 40px;
 }
 .img1{
     width:35px;
     margin-left: 2px;
 }
 .img2{
    width:30px;
    margin-left: 5px;
}
